<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/insert">Mata in</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="center">Om uppgiften!</h1>
    </main>
    
</body>
</html>