<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Ny kurs</legend>
                 <label for="courseCode">Kurskod:</label><br>
                <input type="text" id="courseCode" name="courseCode" >
                <br>
                <label for="courseName">Kursnamn:</label><br>
                <input type="text" id="courseName" name="courseName" >
                <br>
                <label for="courseLink">Kurslänk:</label><br>
                <input type="url" id="courseLink" name="courseLink" >
                <br>
                <label for="courseProgression">Progression:</label><br>
                <input type="text" id="courseProgression" name="courseProgression" >
                <br>
                <button type="submit">Lägg till kurs</button>            
        </fieldset>
    </form>
    
</body>
</html>