@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Nollställer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
    font-size: 1.1rem;
}

.navigation {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7f7f7f;
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    background-color: #f1f1f1cf;
}

.navigation li a {
    display: inline-block;
    margin: 2px;
    padding: 0 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    background-color: #f1f1f1cf;
}

.navigation li a:hover {
    color: white;
    background-color: #4c4c4c;
}

.navigation li a.active {
     color: white;
    background-color: #2d2d2d;
}

main {
    width: 90%;
    max-width: 1400px;
    min-height: calc(100vh - 40px);
    margin: 0 auto;
    background-color: #eaeaea;
    padding-bottom: 60px;
}
    
.center {
    text-align: center;
}

.delete {
    color: red;
}

.update {
    color: green;
}

li {
    list-style-type: none;

}

fieldset,
form {
    border-radius: 14px;
}

form {
    width: 70%;
    margin: 10px auto 0;
    padding: 10px;
    background-color: #f9f8f8;
}

form button {
    font-size: 1.1rem;
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    background-color: green;
    color: white;
    line-height: 2rem;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0 5px 5px;
    transition: .5s;
}

form label, form input{
    margin-left: 5px;
}

form button:hover {
    color: black;
    background-color: rgb(115, 192, 0);
}

table {
    width: 96%;
    margin: 0 auto;
    background-color: #d8d8d8;
    padding: 10px;
}

#insertdiv {

    width: 96%;
    margin: 20px auto;
}

#insertdiv a {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    background-color: green;
    color: white;
    line-height: 2rem;
    padding: 5px;
    border-radius: 5px;
    transition: .5s;    
}

#insertdiv a:hover {
    color: black;
    background-color: rgb(115, 192, 0);
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

td,
th {
    text-align: left;
    word-break: break-all;
    line-height: 1.8rem;
    padding-left: 2px;
}

#courseCode,
#courseProgression {
    width: 5rem;
}

#courseName,
#courseLink {
    width: 80%;
    max-width: 50rem;
    min-width: 10rem;

}

.errors {
    display: flex;
    flex-direction: column; 
    position: relative;
    width: 50%; 
    left: 50%; 
    transform: translateX(-50%); 
    text-align: left; 
    background-color: #f8f8f8; 
    padding: 20px; 
    color: red;
    margin: 10px 0 15px;
    line-height: 1.4rem;
    border-radius: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.452); 
}

.infoblock {
    width: 80%;
    margin: 10px auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.452); 
}

.infoblock p {
    margin-top: .6rem;
    font-size: 1.5rem;
}

.infoblock h2 {
    margin: 1rem 0 .5rem;
}

@media screen and (max-width: 600px) {
    .navigation {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .navigation li a {
        padding: 0 25px;
    }

    form {
        width: 96%;
    }

    .infoblock {
        width: 96%;
    }
}


@media screen and (max-width: 980px) {
    body {
        overflow-y: auto;

    }

    main {
        height: auto;
        min-height: calc(100vh - 60px);        
        width: 96%;
        padding-bottom: 60px;
    }

    thead {
        display: none;
        
    }

    tr {
        display: block;
        margin-bottom: 10px;
        
    }

    td {
        display: block;
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    td:nth-child(odd) {
        background-color: #eaeaea;
    }

    td::before {
        content: attr(data-label);
        /* Hämta och visa värdet från data-label */
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10px;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #ffffff;
    }
}